# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular DataScience languages
- List popular DataScience libraries
- Apply what we have learned during this course
- Create ordered list markdown

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib


| Data Science Tools |
| -------------| 
| JupyterLab | 
| RStudio | 
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python :

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author

LAGEL Matthieu